.attribution { 
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@font-face {
    font-family: Plus;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: 11px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(205, 33%, 90%);
    width: 100%;
    height: 100vh;
    font-family: Plus;
    flex-direction: column;
    padding: 20px;
}
.container{
    height: 609px;
    width:509px ;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.notice_title{
    font-weight: 700;
    color:  hsl(224, 21%, 14%);
}
.notice_title span{
    background-color: hsl(219, 85%, 26%);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}
.mark{
    font-size: 12px;
    color: hsl(219, 14%, 63%);
}
.mark:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}
a:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}
.notice{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    gap: 5px;
}
.notification {
    display: flex;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    gap: 10px;
    align-items: center;
}
.active{
    background-color: hsl(211, 68%, 94%);
}
.activ_sapan{
    background-color: hsl(1, 90%, 64%);
    border-radius: 50%;
    padding: 2px;
    width: 5px;
    height: 5px;
    padding-bottom: 0%;
}

.active_span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile_pic img{
    width: 40px;
}
.username{
    color:  hsl(224, 21%, 14%);
    font-weight: 800;
}
.username:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}
.post{
    color:  hsl(224, 21%, 14%);
    font-weight: 800;
}
.post:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}
.group{
    color:  hsl(219, 85%, 26%);
    font-weight: 800;
}
.msg{
    margin-left: 50px;
    padding: 15px;
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 5px;
}
.msg:hover{
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}
.img{
   float: right;
   margin-left: 100px;
}
.img img{
    width: 40px;
}
.hide{
    display: none;
}
@media only screen and (max-width:500px){
    body{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100vh;
    }
    .container{
        width: 100%;
        height: 100vh;
        padding: 10px;
    }
    .notification{
        padding: 10px;
    }

    .img{
        float: right;
        margin-left: 0px;
     }
    
    
}